<<<<<<< HEAD
.listagemCadastroAlunos {
    margin-left: 20px;
  }
  
  .listaCadastroAluno {
=======
.tituloListagem {
    margin-left: 20px;
  }
  
  .listaAlunos {
>>>>>>> 3e1e2997cd92438e35ef2a43995271fab074f7f5
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
<<<<<<< HEAD
  .cabecTblCadAluno {
    color: white;
    background-color: rgb(142, 26, 47);
=======
  .cabecTabelaAluno {
    color: white;
    background-color:darkmagenta;
>>>>>>> 3e1e2997cd92438e35ef2a43995271fab074f7f5
    font-size: 20px;
    text-align: left;
    width: 800px;
  }
  
  th,
  td {
    padding: 10px;
  }
<<<<<<< HEAD
  .tabTitCadRa {
    width: 100px;
  }
  
  .tabTitCadNome {
    width: 400px;
  }
  
  .tabTitCadCurso {
=======
  .tabTituloRa {
    width: 100px;
  }
  
  .tabTituloNome {
    width: 400px;
  }
  
  .tabTituloCurso {
>>>>>>> 3e1e2997cd92438e35ef2a43995271fab074f7f5
    width: 200px;
  }
  
  input[type='text'] {
    display: inline-block;
<<<<<<< HEAD
    width: 100px;
    padding: 12px;
    margin: 8px 0;
    color:rgb(0, 0, 240);
    border-radius: 20px; 
=======
    width: 20%;
    padding: 12px;
    margin: 8px 0;
>>>>>>> 3e1e2997cd92438e35ef2a43995271fab074f7f5
  }
  
  input[type='number'] {
    padding: 12px;
    width: 50px;
  }
  
  .inclui-container {
    margin: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  
  }
  
<<<<<<< HEAD
  .botaoSalvar {
    background-color: rgb(94, 208, 147);
=======
  .btnSalvar {
    background-color:darkorange;
>>>>>>> 3e1e2997cd92438e35ef2a43995271fab074f7f5
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 5px 5px 30px;
  }
  
<<<<<<< HEAD
  .botaoCancelar {
    background-color: rgb(226, 98, 134);
=======
  .btnCancelar {
    background-color:brown;
>>>>>>> 3e1e2997cd92438e35ef2a43995271fab074f7f5
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
  
  label {
    padding: 10px;
  }
  
  .tituloCadastro {
    margin-left: 30px;
  }
  
<<<<<<< HEAD
  .botaoAltera {
    background-color: rgb(140, 95, 230);
=======
  .btnAltera {
    background-color:lightcoral;
>>>>>>> 3e1e2997cd92438e35ef2a43995271fab074f7f5
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 5px 5px 30px;
  }
  
<<<<<<< HEAD
  .botaoRemove {
    background-color: rgb(201, 198, 108);
=======
  .btnRemove {
    background-color:teal;
>>>>>>> 3e1e2997cd92438e35ef2a43995271fab074f7f5
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
<<<<<<< HEAD
  

  .seletor{
    border-radius: 20px;
    width: 240px;
    color:blue;
    padding: 10px;
  }
=======
  
>>>>>>> 3e1e2997cd92438e35ef2a43995271fab074f7f5
