:root {
  --bg-menu: #d0b4b4;
    --logo-width: 150px;
    --content-header-height: 60px;
    --content-footer-height: 40px;
  }
  body {
    box-sizing: border-box;
    font-family: "Pacifico", cursive;
  }
  /* Lay-out */
  .App {
  
  }
        
  aside.logo{
    
  }
  nav.menu {
 
  }
  div.content {
   
  }

  footer.footer {
   
  }