.tituloListagem {
  margin-left: 20px;
}

.listaCursos {
  margin-left: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.cabecTabela {
  color: white;
  background-color:orangered;
  font-size: 20px;
  text-align: left;
}

th,
td {
  padding: 10px;
}
.tabTitulocodCurso {
  width: 100px;
}

.tabTituloNomeCurso {
  width: 400px;
}
